ALLOWED_ORIGINS=<https://site1.com>,<https://site2.com>,...
PORT=4444
REQUEST_TIMEOUT_MS=15000
DETAIL_CACHE_TTL_DAYS=7
DETAIL_CACHE_STALE_DAYS=1
MEMORY_CACHE_TTL_SECONDS=300
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
